
<!-- <div>
  我是父组件
</div>
<div>
  <input type="text" placeholder="请输入股票代码" [(ngModel)]="stock">
  <app-order [stockCode] = "stock" [amount]="100"></app-order>
</div> -->

<!--
  lastPrice 事件绑定把组件<app-price-quote> 的数据传递给父组件 ，在默认情况下父组件的自定义事件(lastPrice) 和子组件输出属性的名字是一样的，@Output()
  lastPrice:EventEmitter<PriceQuote> = new EventEmitter(); 如果想要另外的名字 发射事件，只需要指定装饰器的名字@Output('priceChange'),priceChange 就是需要捕获事件的名字，既把默认的lastPrice 改为priceChange

-->
<app-price-quote (priceChange)="priceQuoteHandler($event)"></app-price-quote>
<div>
  这是在报价组价外部，股票代码是{{priceQuote.stockCode}},
  股票价格是{{priceQuote.lastPrice | number: '2.2-2'}}

</div>
